services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    KimaiPlugin\IrpfBundle\:
        resource: '../../*'
        exclude: '../../{DependencyInjection,Entity,Migrations,Tests,Kernel.php,Calculator}'
